Repository raminjafary/vue3-scalable-architecture: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix, yarn lint:style:fix

.lintstagedrc:

{
  "**/*.{ts,js,vue}": "cross-env NODE_ENV=production yarn lint:fix",
  "**/*": "yarn format:fix",
  "**/*.{css,scss,vue}": "yarn lint:style:fix"
}

chore(deps): update jest monorepo to v28
  package.json
  yarn.lock
Due: yarn format:fix

chore(deps): update dependency vue-tsc to ^0.36.0
  package.json
  yarn.lock
Due: yarn format:fix

chore(deps): update dependency vue-tsc to ^0.37.0
  package.json
  yarn.lock
Due: yarn format:fix

chore(deps): update dependency stylelint-config-recommended to v8
  package.json
  yarn.lock
Due: yarn format:fix

chore(deps): update dependency stylelint-config-standard to v26
  package.json
  yarn.lock
Due: yarn format:fix

chore(deps): update dependency @vue/eslint-config-typescript to v11
  package.json
  yarn.lock
Due: yarn format:fix

chore: bump dependencies versions
  .eslintrc.js
  .lintstagedrc
  .lintstagedrc.js
  package.json
  src/modules/auth/pages/index.vue
  yarn.lock
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix, yarn lint:style:fix

chore: update dev/dependencies
  package.json
  yarn.lock
Due: yarn format:fix

chore: upgrade deps
  package.json
  src/App.vue
  src/assets/css/main.css
  stylelint.config.js
  yarn.lock
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix, yarn lint:style:fix

chore: update dependencies
  package.json
  yarn.lock
Due: yarn format:fix

chore: update dependencies
  src/bootstrap.ts
  src/repositories/index.ts
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix

chore: update dev/dependencies
  package.json
  src/api.ts
  yarn.lock
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix

feat: multi env build via cli args
  vite.config.ts
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix

chore: bump dependencies version
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  scripts/create-merge-request.js
  src/App.vue
  src/assets/css/main.css
  src/assets/fonts/index.css
  yarn.lock
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix, yarn lint:style:fix

chore: bump dependencies versions
  .eslintrc.js
  .lintstagedrc.js
  .yarn/install-state.gz
  index.html
  package.json
  src/App.vue
  src/bootstrap.ts
  src/component.ts
  src/context.ts
  src/repositories/index.ts
  src/store/actions.ts
  tailwind.config.js
  yarn.lock
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix, yarn lint:style:fix

chore: bump dependencies versions
  .eslintrc.cjs
  .gitignore
  .lintstagedrc.js
  .vscode/settings.json
  .yarn/install-state.gz
  .yarnrc.yml
  commitlint.config.js
  jest.config.js
  package.json
  postcss.config.js
  stylelint.config.js
  tailwind.config.js
  test/__mocks__/style.js
  yarn.lock
Due: cross-env NODE_ENV=production yarn lint:fix, yarn format:fix

chore: bump dependencies versions
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: yarn format:fix
